<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:name=".AppManager"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CafeManagement">

        <!-- Khai báo LoginActivity là màn hình khởi động chính -->
        <activity
            android:name=".view.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.customer.CustomerOrderStatusActivity" />

        <activity
            android:name=".view.customer.CustomerOrderSetupActivity"
            android:exported="false" />

        <activity
            android:name=".view.RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".view.ForgotPasswordActivity"
            android:exported="false" />

        <activity android:name=".view.admin.AdminActivity"
            android:exported="false" />

        <activity android:name=".view.admin.AdminStaffActivity"
            android:exported="false" />

        <activity android:name=".view.admin.AdminMenuActivity"
            android:exported="false" />

        <activity android:name=".view.admin.AdminTableActivity"
            android:exported="false" />

        <activity android:name=".view.cashier.CashierActivity"
            android:exported="false" />

        <activity android:name=".view.barista.BaristaActivity"
            android:exported="false" />

        <activity
            android:name=".view.customer.CustomerDrinkCustomizeActivity"
            android:exported="false" />

        <activity
            android:name=".view.customer.CustomerCheckoutActivity"
            android:exported="true"
            android:label="Merchant Demo"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="demozpdk"
                    android:host="app" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="vnpay" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.admin.AdminVoucherActivity"
            android:exported="false"
            android:theme="@style/Theme.CafeManagement" />
        <activity
            android:name=".view.admin.AdminHistoryActivity"
            android:exported="false"
            android:theme="@style/Theme.CafeManagement" />
        <activity android:name=".view.admin.AdminSalaryActivity" />
        <activity android:name=".view.customer.CustomerMainActivity" />

    </application>

</manifest>